Python/__pycache__/*
PdfPlan/*
turnier2023WithScores.json
turnier2023.json
turnier2023Local.json
Reports/*
*.json
*.html

!PdfPlan/template.tex
!PdfPlan/kcwlogo.png
!Reports/template.xslx
!Website/template.html
!Website/templateMobile.html
!Website/planMobile.html
